body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    /* Keep the other rows unchanged */
    grid-template-columns: 300px 1fr auto;
}

header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
}

nav {
    background: lightgray;
    padding: 1rem 0;
    /* Adjust padding to change the height */
    grid-column: 1 / 4;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
}

main {
    background: coral;
    grid-column: 2 / 3;
    grid-row: 3;
}

.right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
}

footer {
    background: wheat;
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}